<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%Logic_example_graphical_editor_name"
            extensions="logic"
            icon="logic.gif"
            class="org.eclipse.gef.examples.logicdesigner.LogicEditor"
            contributorClass="org.eclipse.gef.examples.logicdesigner.actions.LogicActionBarContributor"
            id="Logic Graphical Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%GEF_example_wizard_category_name"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.gef.examples">
      </category>
      <wizard
            name="%Logic_example_wizard_name"
            icon="logic.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gef.examples"
            class="org.eclipse.gef.examples.logicdesigner.LogicCreationWizard"
            id="org.eclipse.gef.examples.logic.wizard.new.file">
         <description>
            %Logic_example_wizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="org.eclipse.gef.examples.logic.command.print"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/print_edit.svg"
               label="%print_name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="logic">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.gef.examples.logicdesigner.handlers.LogicPrintHandler"
            id="org.eclipse.gef.examples.logic.command.print"
            name="%print_name">
      </command>
   </extension>

</plugin>
