name: GEF Class verification build

on:
  push:
  pull_request:

permissions: {}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ 21, 25 ]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - java: 21
            target: 2024-09
          - java: 25
            target: master
    runs-on: ${{ matrix.os }} 
    name: OS ${{ matrix.os }} Target ${{ matrix.target }} compile
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.12
    - name: Build with Maven
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >- 
        mvn -V -B -fae -ntp -P${{ matrix.target }} clean verify
    - name: Upload Test Results for Java-${{ matrix.java }}
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: test-results-${{ matrix.os }}-target-${{ matrix.target }}
        if-no-files-found: error
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
