name: GEF Class verification build

on:
  push:
  pull_request:

permissions: {}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ 21 ]
        os: [ubuntu-latest, windows-latest, macos-latest]
        target: [master, 2024-09]
    runs-on: ${{ matrix.os }} 
    name: OS ${{ matrix.os }} Target ${{ matrix.target }} compile
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.9
    - name: Build with Maven
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >- 
        mvn -V -B -fae -ntp -P${{ matrix.target }} clean verify
    - name: Upload Test Results for Java-${{ matrix.java }}
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: test-results-${{ matrix.os }}-target-${{ matrix.target }}
        if-no-files-found: error
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
